<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zmf.realty.dao.MessageMapper">
    <resultMap id="BaseResultMap" type="com.zmf.realty.model.Message">
        <id column="message_id" property="messageId" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="is_read" property="isRead" jdbcType="BIT"/>
        <result column="datetime" property="datetime" jdbcType="TIMESTAMP"/>
        <result column="project_id" property="projectId" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="call" property="call" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        message_id, content, is_read, `datetime`, project_id, phone, `call`
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from message
        where message_id = #{messageId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM message
        WHERE message_id = #{messageId,jdbcType=VARCHAR}
    </delete>

    <insert id="insertSelective" parameterType="com.zmf.realty.model.Message">
        insert into message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="messageId != null">
                message_id,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="isRead != null">
                is_read,
            </if>
            <if test="datetime != null">
                `datetime`,
            </if>
            <if test="projectId != null">
                project_id,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="call != null">
                `call`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="messageId != null">
                #{messageId,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="isRead != null">
                #{isRead,jdbcType=BIT},
            </if>
            <if test="datetime != null">
                #{datetime,jdbcType=TIMESTAMP},
            </if>
            <if test="projectId != null">
                #{projectId,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="call != null">
                #{call,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.zmf.realty.model.Message">
        update message
        <set>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="isRead != null">
                is_read = #{isRead,jdbcType=BIT},
            </if>
            <if test="datetime != null">
                `datetime` = #{datetime,jdbcType=TIMESTAMP},
            </if>
            <if test="projectId != null">
                project_id = #{projectId,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="call != null">
                `call` = #{call,jdbcType=VARCHAR},
            </if>
        </set>
        where message_id = #{messageId,jdbcType=VARCHAR}
    </update>

    <select id="getAllMessages" resultMap="BaseResultMap">
        SELECT *
        FROM message
    </select>

    <select id="getAllMessageIdsByProjectId" resultType="string" parameterType="string">
        SELECT message_id
        FROM message
        WHERE project_id = #{projectId}
        ORDER BY message.datetime DESC
    </select>

    <select id="selectMessageByCondition" resultMap="BaseResultMap" parameterType="com.zmf.realty.whereCondition.MessageWhereCondition">
        SELECT *
        FROM message
            <trim prefix="WHERE" suffixOverrides="AND">
                <if test="isReadEmpty != true">
                    is_read = #{isRead} AND
                </if>
                <if test="phone != null">
                    phone = #{phone} AND
                </if>
                <if test="call != null">
                    `call` LIKE concat('%',#{call}, '%') AND
                </if>
                <if test="content != null">
                    `content` LIKE concat('%', #{content}, '%') AND
                </if>
                <if test="after != null">
                    `datetime` > #{after} AND
                </if>
                <if test="projectId != null">
                    project_id = #{projectId} AND
                </if>
            </trim>
    </select>
</mapper>