<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zmf.realty.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.zmf.realty.model.User">
        <id column="user_openid" property="userOpenid" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_openid, name, telephone
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from user
        where user_openid = #{userOpenid,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM user
        WHERE user_openid = #{userOpenid,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.zmf.realty.model.User">
        INSERT INTO user (user_openid, name, telephone
        )
        VALUES (#{userOpenid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.zmf.realty.model.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userOpenid != null">
                user_openid,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userOpenid != null">
                #{userOpenid,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                #{telephone,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.zmf.realty.model.User">
        update user
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
        </set>
        where user_openid = #{userOpenid,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.zmf.realty.model.User">
        UPDATE user
        SET name      = #{name,jdbcType=VARCHAR},
            telephone = #{telephone,jdbcType=VARCHAR}
        WHERE user_openid = #{userOpenid,jdbcType=VARCHAR}
    </update>
</mapper>